/* TODO: Style the product card container */
.productContainer{
    width: 18rem;
    margin: 0 auto;
    padding: 1rem;
};

.productTitle{ 
    font-weight: bold;
};

.productPrice{
    font-size: 16 px;
    font-weight: bold;
};
/* TODO: Add special styling for out-of-stock products */
.cardBody{
    {!product.inStock && (
        background-color: rgb(170, 162, 162);
    )};
};

.diagonalBanner{
    background-color: rgb(234, 18, 18);
    padding: 50px;
    transform: skewY(-3deg);
    overflow: hidden;
};

.bannerContent{
    font-size: 16px;
    font-weight: bold;
};


