/* TODO: Style the product card container */
.productContainer{
    width: 18rem;
    margin: 0 auto;
    padding: 1rem;
};

.productTitle{ 
    font-weight: bold;
};

.productPrice{
    font-size: 16 px;
    font-weight: bold;
};
/* TODO: Add special styling for out-of-stock products */
.inStockClass{
    color:rgb(245, 245, 245)
};

.outOfStockClass{
    color:rgb(78, 78, 78)
};




